.jumbotron {
	margin-bottom:0px;
	background-image:url('../images/cubes_cropped.png');
	background-position:0% 25%;
	background-size:cover;
	background-repeat:no-repeat;
	padding-bottom:2.5cm;
	padding-top:3.5cm;
}

body {
    /* background: #82639c !important; */
}
body h1 {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 10px;
	font-family: 'Slabo 27px', serif;
}
.jumbotron h1 {
    font-size: 53px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}
.jumbotron h2 {
    font-size: 25px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

/* http://orgmode.org/manual/CSS-support.html */
.todo {
    color: red;
    font-family: 'Fira Mono';
    border-style: solid;
    border-width: 0.1em;
}

.done {
    color: green;
    font-family: 'Fira Mono';
    border-style: solid;
    border-width: 0.1em;
}

.headertextname {
    color: white;
    font-family: 'Fira Mono';
}

.headertextsubtitle  {
    color: white;
    font-family: 'Fira Mono';
}
