<p>
I just finished a workout.
Summary: 40 minutes of cardio on a <a href="http://www.precor.com/en-us/home/products/amt">Precor AMT</a>.
The following images show what was recorded on my Fitbit Surge and the elliptical machine.
</p>


<div class="figure">
<p><img src="/images/fitbit_workout_march_2016_lr.jpg" alt="presentation image" title="Fitbit calorie estimation" align="left">
</p>
<p><span class="figure-number">Figure 1:</span> Fitbit calorie estimation</p>
</div>


<div class="figure">
<p><img src="/images/precor_amt_workout_march_2016_lr.jpg" alt="presentation image" title="Precor calorie estimation" align="left">
</p>
<p><span class="figure-number">Figure 2:</span> Precor calorie estimation</p>
</div>

<p>
Presumably, the models are based on different inputs.
Both models have my weight.
The Precor model probably has a better estimation of the actual force output by my body.
The Fitbit has my heartrate and has a noisy estimation of my motion.
In any case, they seem pretty close.
</p>
