<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#orgheadline3">1. Changelog</a></li>
<li><a href="#orgheadline1">2. Purpose of Meta</a></li>
<li><a href="#orgheadline2">3. My choice of tools</a></li>
<li><a href="#orgheadline4">4. Haskell</a></li>
<li><a href="#orgheadline5">5. Hakyll</a></li>
<li><a href="#orgheadline10">6. LaTeX / Beamer presentations</a>
<ul>
<li><a href="#orgheadline9">6.1. Tasks</a>
<ul>
<li><a href="#orgheadline6">6.1.1. <span class="todo nilTODO">TODO</span> Generate bibliography at the end of the presentation</a></li>
<li><a href="#orgheadline7">6.1.2. <span class="todo nilTODO">TODO</span> Add section-wide TOC to template</a></li>
<li><a href="#orgheadline8">6.1.3. <span class="done nilDONE">DONE</span> Create a <code>Makefile</code></a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#orgheadline11">7. Inspirations</a></li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline3" class="outline-2">
<h2 id="orgheadline3"><span class="section-number-2">1</span> Changelog</h2>
<div class="outline-text-2" id="text-1">
<ul class="org-ul">
<li><span class="timestamp-wrapper"><span class="timestamp">&lt;2016-03-18 Fri&gt;</span></span>: Added <a href="#orgheadline1">Purpose of Meta</a>, <a href="#orgheadline2">My choice of tools</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgheadline1" class="outline-2">
<h2 id="orgheadline1"><a id="ID-1b672acb-4d60-48c6-b6a2-39bde3c38dc0"></a><span class="section-number-2">2</span> Purpose of Meta</h2>
<div class="outline-text-2" id="text-2">
<p>
The purpose of this page , <code>Meta, Media Generation</code> is to record how I work.
In short, I have put quite a bit of time into thinking through how I do things, to maximize productivity.
This meta page will serve document my processes.
</p>

<p>
There is always a tension between investment in learning tools, and slogging through taking shortcuts.
I have found that investments in learning tooling nearly always pay off, where tooling means
</p>

<ul class="org-ul">
<li>Your text editor</li>
<li>Programming languages</li>
<li>Version control</li>
<li>Producing papers</li>
<li>Producing websites</li>
<li>Hardware</li>
</ul>
</div>
</div>


<div id="outline-container-orgheadline2" class="outline-2">
<h2 id="orgheadline2"><span class="section-number-2">3</span> My choice of tools</h2>
<div class="outline-text-2" id="text-3">
<table class="table table-hover table-bordered">
<caption class="t-above"><span class="table-number">Table 1:</span> Tools</caption>

<colgroup>
<col  class="org-left">

<col  class="org-left">
</colgroup>
<thead>
<tr>
<th scope="col" class="org-left">Task</th>
<th scope="col" class="org-left">Tools</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-left">Editing Text</td>
<td class="org-left"><a href="https://www.gnu.org/software/emacs/">GNU Emacs</a></td>
</tr>

<tr>
<td class="org-left">Programming</td>
<td class="org-left"><a href="#orgheadline4">Haskell</a> (my go to language), R (statistics, visualizations using <a href="http://ggplot2.org/">ggplot2</a>), Python (general, former go to language)</td>
</tr>

<tr>
<td class="org-left">Version control</td>
<td class="org-left"><a href="https://en.wikipedia.org/wiki/Git_(software)">git</a>, <a href="https://github.com/magit/magit">magit</a> (emacs), <a href="https://gitlab.com/u/stephenjbarr">Gitlab</a>, <a href="https://github.com/stephenjbarr">Github</a></td>
</tr>

<tr>
<td class="org-left">Producing papers</td>
<td class="org-left"><a href="http://orgmode.org/">org-mode</a>, <a href="http://pandoc.org/">Pandoc</a>, <a href="https://en.wikipedia.org/wiki/XeTeX">XeTeX</a></td>
</tr>

<tr>
<td class="org-left">Producing websites</td>
<td class="org-left">Hakyll</td>
</tr>

<tr>
<td class="org-left">Hardware</td>
<td class="org-left"><a href="http://www.thinkmate.com/system/hpx-xs8-2462">ThinkMate XS8-2462 Workstation</a>, <a href="http://shop.lenovo.com/us/en/laptops/thinkpad/t-series/t440s/">Thinkpad T440s</a>, <a href="http://www.amazon.com/Das-Keyboard-Professional-Soft-Tactile/dp/B00JG01QTY/ref=sr_1_4?ie=UTF8&amp;qid=1458356795&amp;sr=8-4&amp;keywords=das+keyboard">Das Keyboard 4 with MX Cherry Brown keys</a></td>
</tr>
</tbody>
</table>
</div>
</div>



<div id="outline-container-orgheadline4" class="outline-2">
<h2 id="orgheadline4"><a id="ID-5121a45e-a617-47ef-9d9b-3cc03654200d"></a><span class="section-number-2">4</span> Haskell</h2>
<div class="outline-text-2" id="text-4">
</div>
</div>

<div id="outline-container-orgheadline5" class="outline-2">
<h2 id="orgheadline5"><span class="section-number-2">5</span> Hakyll</h2>
<div class="outline-text-2" id="text-5">
<p>
This website 
</p>
</div>
</div>

<div id="outline-container-orgheadline10" class="outline-2">
<h2 id="orgheadline10"><span class="section-number-2">6</span> LaTeX / Beamer presentations</h2>
<div class="outline-text-2" id="text-6">
<ol class="org-ol">
<li>The main path is <code>(org-mode)-&gt;[Pandoc]-&gt;(beamer)</code>.</li>
<li>Use <a href="https://github.com/gpoore/minted">minted</a> to render code samples.
This is done using a <a href="https://github.com/nick-ulle/pandoc-minted">Pandoc filter</a>.</li>
<li>Theme: <a href="https://github.com/matze/mtheme">metropolis theme</a></li>
<li>Citations: Using <a href="https://hackage.haskell.org/package/pandoc-citeproc">pandoc-citeproc</a>.</li>
</ol>
</div>


<div id="outline-container-orgheadline9" class="outline-3">
<h3 id="orgheadline9"><span class="section-number-3">6.1</span> Tasks</h3>
<div class="outline-text-3" id="text-6-1">
</div><div id="outline-container-orgheadline6" class="outline-4">
<h4 id="orgheadline6"><span class="section-number-4">6.1.1</span> <span class="todo TODO">TODO</span> Generate bibliography at the end of the presentation</h4>
</div>
<div id="outline-container-orgheadline7" class="outline-4">
<h4 id="orgheadline7"><span class="section-number-4">6.1.2</span> <span class="todo TODO">TODO</span> Add section-wide TOC to template</h4>
<div class="outline-text-4" id="text-6-1-2">
<p>
<a href="http://tex.stackexchange.com/questions/26712/how-to-make-outline-frame-in-beamer">http://tex.stackexchange.com/questions/26712/how-to-make-outline-frame-in-beamer</a>
</p>
</div>
</div>

<div id="outline-container-orgheadline8" class="outline-4">
<h4 id="orgheadline8"><span class="section-number-4">6.1.3</span> <span class="done DONE">DONE</span> Create a <code>Makefile</code></h4>
<div class="outline-text-4" id="text-6-1-3">
</div>
</div>
</div>
</div>

<div id="outline-container-orgheadline11" class="outline-2">
<h2 id="orgheadline11"><span class="section-number-2">7</span> Inspirations</h2>
<div class="outline-text-2" id="text-7">
<p>
Pages that show organized workflow / thoughtflow / physical organization:
</p>

<ul class="org-ul">
<li><a href="http://whatthefuck.computer/">Ryan Rix</a> - <a href="http://doc.rix.si/cce/cce.html">Emacs as a complete computing environment</a></li>
<li><a href="https://kieranhealy.org/resources/">Kieran Healy</a>
<ul class="org-ul">
<li><a href="https://kieranhealy.org/resources/">Code and Data</a></li>
<li><a href="http://kieranhealy.org/files/misc/workflow-apps.pdf">Choosing Your Workflow Applications</a></li>
</ul></li>
<li><a href="http://www.gwern.net/">Gwern</a></li>
<li><a href="https://usesthis.com/">The Setup</a></li>
<li>Subreddits:
<ul class="org-ul">
<li><a href="https://www.reddit.com/r/emacs">Emacs</a></li>
<li><a href="https://www.reddit.com/r/haskell">Haskell</a></li>
<li><a href="https://www.reddit.com/r/workspaces">Workspaces</a></li>
<li><a href="https://www.reddit.com/r/privatestudyrooms">Private Study Rooms</a></li>
</ul></li>
</ul>
</div>
</div>
